.yb-init-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.yb-spinner-container {
  position: relative;
  margin: 0 auto;
  width: 100px;
  top: 40%;
  text-align: center;
}

.yb-spinner-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.yb-boot-logo {
  height: 25px;
  position: absolute;
  width: 25px;
  top: 40%;
  left: 40%;
}

.yb-spinner {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.yb-spinner-path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite,
    color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@-webkit-keyframes color {
  100%,
  0% {
    stroke: #FFC107;
  }
  40% {
    stroke: #FFC107;
  }
  66% {
    stroke: #FFC107;
  }
  80%,
  90% {
    stroke: #FFC107;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #FFC107;
  }
  40% {
    stroke: #FFC107;
  }
  66% {
    stroke: #FFC107;
  }
  80%,
  90% {
    stroke: #FFC107;
  }
}
